{% extends 'base.html' %}
{% load static %}

{% block main %}

    <!-- Google charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">{% block titulo %}{% endblock titulo %}</h1>

  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-10 col-lg-8">

      <h6 align="right">
        {% for i in request.path %}
          {{i}}
        {% endfor %}
      </h6>

      {% block grafica %}{% endblock grafica %}

    </div>

  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock main %}