{% extends 'graph_base.html' %}
{% load static %}

{% block titulo %}{% endblock titulo %}


<!--Primera Gráfica-->
{% block grafica %}


{% if 'productos' in request.path %}
<!-- Bar Chart -->
<div class="card shadow mb-4">
    <div class="card-body">
        <h3>Periodo</h3>
        <ul>
            <div class="row">
                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'productos_ventas_pronostico' 'DIAS' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Días</span></a>
                    </li>
                </div>

                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'productos_ventas_pronostico' 'SEMANAS' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Semanas</span></a>
                    </li>
                </div>

                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'productos_ventas_pronostico' 'MESES' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Meses</span></a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
{% else %}
<!-- Bar Chart -->
<div class="card shadow mb-4">
    <div class="card-body">
        <h3>Periodo</h3>
        <ul>
            <div class="row">
                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'ventas_pronostico' 'DIAS' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Días</span></a>
                    </li>
                </div>

                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'ventas_pronostico' 'SEMANAS' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Semanas</span></a>
                    </li>
                </div>

                <div class="col-xl-4 col-lg-3">
                    <li>
                        <a href="{% url 'ventas_pronostico' 'MESES' %}">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Meses</span></a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
{% endif %}


{% if datos %}
<div class="card shadow mb-4">
    <div class="card-body">
        <h3>Periodo seleccionado</h3>
        <div class="row">

            <div class="col-xl-6 col-lg-3" style="padding:3%">
                <h5>Desde:</h5>
                <select id="desde" onchange="drawChart();">
                    {% for dato in datos  %}
                    <option id="{{dato.id}}">{{dato.fecha}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-xl-6 col-lg-3" style="padding:3%">
                <h5>Hasta:</h5>
                <select id="hasta" onchange="drawChart();">
                    {% for dato in datos  %}
                    <option id="{{dato.id}}">{{dato.fecha}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
</div>
{% endif %}

{% if objects %}
{% for i in objects %}

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var e = document.getElementById("desde");
        var h = document.getElementById("hasta");
        if (e != null && h != null) {
            var value = e.options[e.selectedIndex].id;
            var valuea = h.options[h.selectedIndex].id;
        };

        {% if datos %}

        var all_data = [['Fechas', 'Pronóstico (Soles)', 'Real (Soles)']]
        var all_data_vars = []

        {% for dato in datos %}
        if ({{ dato.id }} >= value && {{ dato.id }} <= valuea || value === valuea) {
        all_data.push([new Date('{{ dato.fecha.isoformat }}'), parseFloat({{ dato.precio }}), parseFloat({{ dato.real }})]);
        all_data_vars.push([parseFloat({{ dato.dam }}), parseFloat({{ dato.pema }}), parseFloat({{ dato.rmse }})]);
                    };
    {% endfor %}

    {% endif %}

    var data = google.visualization.arrayToDataTable(
        all_data
    );

    var options = {

        curveType: 'function',
        legend: { position: 'bottom' },
        explorer: {
            axis: 'horizontal',
            keepInBounds: true,
            maxZoomIn: 140.0
        }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);

    var dam = 0
    var pema = 0
    var rmse = 0

    if (all_data_vars.length != 0) {
        for (i = 0; i <= all_data_vars.length; i++) {
            if (typeof all_data_vars[i] !== "undefined") {
                dam += all_data_vars[i][0];
                pema += all_data_vars[i][1];
                rmse += all_data_vars[i][2];
            }
        }

        dam /= all_data_vars.length
        pema /= all_data_vars.length
        rmse /= all_data_vars.length

        document.getElementById("dam").innerHTML = dam;
        document.getElementById("pema").innerHTML = pema;
        document.getElementById("rmse").innerHTML = rmse;

    }
      
    }


</script>


<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4 col-lg-2">
                Promedio DAM: <div id="dam"></div>
            </div>
            <div class="col-xl-4 col-lg-2">
                Promedio PEMA (%): <div id="pema"></div>
            </div>
            <div class="col-xl-4 col-lg-2">
                Promedio RMSE: <div id="rmse"></div>
            </div>
        </div>
    </div>
</div>

<div class='card shadow mb-4'>
    <div class='card-header py-3'>
        <h6 class='m-0 font-weight-bold text-primary'>Histórico vs entrenamiento</h6>
    </div>


    <div id="curve_chart" style="width: 100%; height: 1000px"></div>

    <div class='text-center'>
    </div>
    <br>
    <center>Figura 1. Histórico vs entrenamiento</center>
</div>

{% endfor %}
{% endif %}
{% endblock grafica %}